html,
body {
  font-family: "Roboto", sans-serif;
}
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  font-family: 'Permanent Marker', cursive;
  margin: 0.5rem;
  padding: 0.6rem;
  border-radius: 0.3rem;
  width: 12.5vw;
  min-height: 6rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card-title {
  margin-bottom: 0.5rem;
  color:#2c2c2c;
  font-weight: bold;
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  font-size: 0.9rem;
  color: #4c4c4c;
}

.card-color-1 {background-color: #ead3a7;}
.card-color-2 {background-color: #9de0f5;}
.card-color-3 {background-color: #ef89ba;}
.card-color-4 {background-color: #fae890;}
.card-color-5 {background-color: #abe9c1;}

.card-rotation-1 {transform: rotate(-5deg);}
.card-rotation-2 {transform: rotate(-4deg);}
.card-rotation-3 {transform: rotate(-3deg);}
.card-rotation-4 {transform: rotate(-2deg);}
.card-rotation-5 {transform: rotate(-1deg);}
.card-rotation-6 {transform: rotate(0deg);}
.card-rotation-7 {transform: rotate(1deg);}
.card-rotation-8 {transform: rotate(2deg);}
.card-rotation-9 {transform: rotate(3deg);}
.card-rotation-10 {transform: rotate(4deg);}
.card-rotation-11 {transform: rotate(5deg);}